<!-- templates/cadastro.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Cadastro de Cliente{% endblock %}

{% block content %}
<body>
    <h1 class="titulo-cadastro">Cadastro de Cliente</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {% crispy cliente_form %}  <!-- Formulário de Cliente -->

        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</body>
{% endblock %}