<!-- templates/cadastro.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Cadastro de Cliente{% endblock %}

{% block content %}
<div>
    <h1 class="text-center display-6">Cadastro de Cliente</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success text-center">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="post" class="border p-4 rounded shadow-sm">
        {% csrf_token %}
        {% crispy cliente_form %}  <!-- Formulário de Cliente -->

        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary btn-lg">Cadastrar</button>
        </div>
    </form>
</div>
{% endblock %}
