{% extends 'base.html' %}

{% block title %}Contato{% endblock %}
{% load bootstrap4 %}
{% bootstrap_css %}

{% block content %}
<div>
    <h1 class="display-6 text-center">Contato</h1>
    {% bootstrap_messages %}
    <form action="{% url 'contato' %}" method="post" class="border p-4 rounded shadow-sm" autocomplete="off">
        {% csrf_token %}
        {% bootstrap_form form layout='vertical' %}
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
        </div>
    </form>
</div>
{% bootstrap_javascript jquery='full' %}
{% endblock %}
